@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

.noscrollbar {
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
}

.noscrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.scrollable-assets-container {
  overflow-y: auto !important;
  pointer-events: auto !important;
  touch-action: pan-y !important;
  -webkit-overflow-scrolling: touch !important;
  z-index: 9999 !important;
}